# Distribution file for Sockets

git /extensions/TCPServer                https://github.com/OpenEngineDK/extensions-TCPServer.git
git-dev /extensions/TCPServer                git@github.com:OpenEngineDK/extensions-TCPServer.git

#dist
dist /extensions/Sockets/Sockets.dist                https://raw.githubusercontent.com/OpenEngineDK/extensions-Sockets/master/Sockets.dist
dist /extensions/BagContainer/BagContainer.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-BagContainer/master/BagContainer.dist

