# Distribution file for Sockets

darcs /extensions/TCPServer                http://openengine.dk/code/extensions/TCPServer
darcs-dev /extensions/TCPServer                fh.daimi.au.dk:/users/cgd/code/extensions/TCPServer

#dist
dist /extensions/Sockets/Sockets.dist                http://openengine.dk/code/extensions/Sockets/Sockets.dist
dist /extensions/BagContainer/BagContainer.dist http://openengine.dk/code/extensions/BagContainer/BagContainer.dist

